---
import Layout from '../layouts/base.astro';
import Characters from '../components/Characters.astro';
import Main from '../components/Main.svelte';
import ThemeIcon from '../components/ThemeIcon.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Characters/>
  <main class="container mx-auto">
      <ThemeIcon/>
      <!-- <Home/> -->
      <Main client:visible/>
  </main>
  <Footer />
</Layout>