
<script type='module'>
	const section = document.getElementById('icons')
	const icons = Array.from(section.querySelectorAll('img'))
	const screenHeight = window.innerHeight - 300 //para q no se muevan
	const screenWidth = window.innerWidth 	
	function animateBackground () {
		const images = icons.filter((img) => !img.isAnimating)
		const ToAnimate = images[Math.floor(Math.random() * images.length)]
		if (!ToAnimate) return
		ToAnimate.addEventListener(
			'animationend',
			() => {
				ToAnimate.classList.remove('animate-moving-background')
				ToAnimate.removeAttribute('style')
				ToAnimate.isAnimating = false
			},
			{ once: true }
		)
		ToAnimate.setAttribute(
			'style',
			`top: ${Math.floor(Math.random() * screenHeight)}px;
			left: ${Math.floor(Math.random() * screenWidth)}px;`
		)
		ToAnimate.classList.add('animate-moving-background')
		ToAnimate.isAnimating = true
	}
	setInterval(animateBackground, 1000)
	animateBackground()
	
	</script>











<section
id='hero'
class='absolute w-full h-screen overflow-hidden -z-200 bg-transparent'>
<slot >

<div class='inset-0 -z-0 max-h-screen absolute'>
	<div
		id='icons'
		class=' relative [&>img]:p-4 [&>img]:w-24 [&>img]:h-24 [&>img]:fill-current [&>img]:opacity-0 [&>img]:absolute h-full'
	>

		<img src="/4.webp" alt="" >
		<img src="/2.webp" alt="" >
		<img src="/7.webp" alt="" >
		<img src="/3.webp" alt="" >
		<img src="/4.webp" alt="" >
		<img src="/5.webp" alt="" >
		<img src="/1.webp" alt="" >
		
	</div>
</div>
</slot>
</section>

