---

---
<div class='inset-0 -z-20 max-h-screen'>
	<div
		id='icons'
		class=' relative [&>img]:p-4 [&>img]:w-24 [&>img]:h-24 [&>img]:fill-current [&>img]:opacity-0 [&>img]:absolute h-full'
	>

		<img src="/3099038.webp" alt="" >
		<img src="/29718.webp" alt="" >
		<img src="/777.webp" alt="" >
		<img src="/234.webp" alt="" >
		<img src="/444.webp" alt="" >
		<img src="/555.webp" alt="" >
		<img src="/10.webp" alt="" >
		
	</div>
	<slot />
</div>
<script type='module'>
const characters = document.getElementById('icons')
const imgs = Array.from(characters.querySelectorAll('img'))

const width = window.innerWidth +300
const height = window.innerHeight +300
console.log(width,height)

function animateBackgroundIcons () {
	const images = imgs.filter((img) => !img.isAnimating)
	const imgToAnimate = images[Math.floor(Math.random() * images.length)]
	if (!imgToAnimate) return

	imgToAnimate.addEventListener(
		'animationend',
		() => {
			console.log((height/1.7),(width/1.7))
			imgToAnimate.classList.remove('animate-moving-background')
			imgToAnimate.removeAttribute('style')
			imgToAnimate.isAnimating = false
			
		},
		{ once: true }
	)
	imgToAnimate.setAttribute(
		'style',
		`top: ${Math.floor(Math.random() * width +24)}px;
				left: ${Math.floor(Math.random() *  height+24)}px;`
	)


	imgToAnimate.classList.add('animate-moving-background')
	imgToAnimate.isAnimating = true
}

setInterval(animateBackgroundIcons, 1000)
animateBackgroundIcons()

</script>