<footer class="bg-zinc-900 text-center lg:text-left left-0 w-full bottom-0 absolute">
    <div class="text-white text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Midudev-Hackathon 
    </div>
  </footer>