---
import '../global.css'

const {
	title = 'Recetas Argentas',
	description = 'App de recetas argentinas creada con Inteligencia Artificial proveida por Cohere-ai'
} = Astro.props


---


<html lang='es' >
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<title>{title}</title>
		<meta name='description' content={description} />
		<meta data-mode="dark" name="theme-color" content="#1d1d1d" />
		<link rel='icon' href='/favicon.svg' type='image/svg+xml' />
	</head>

	<body class="min-h-screen" ><slot /></body>
</html>